@model IEnumerable<BrightWorld.Models.Product>
@{
    ViewBag.Title = "Bright World | Products";
}

<link href="~/Content/Css_Js/Css/Products.css" rel="stylesheet" />

@section IconPage {
    <i class="fas fa-store"></i>
    <p>Our Store</p>
}
<!-- Contenct -->
<main class="main_padding">
    <img class="Product_Banner" src="~/Content/Img/Genneral/Product_Hero_Img.png">
    <div class="container">
        <div class="offset-top"></div>
        <div class="Conten row">
            <!-- Filter -->
            <div class="Overlay_Classify"></div>
            <form method="get">
                <div class="Classify col-6 col-sm-3 col-lg-2 reset_posi">
                    <div class="Classify_Header">
                        <h4>Filter</h4>
                    </div>
                    <div class="Classify_Conten">
                        <div class="Classify_Conten-Header">
                            <h6>Brands</h6>
                        </div>
                        <ul id="Brand" class="Classify_Conten-List">
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="AllBrand" name="Brand" value="">
                                <label for="AllBrand">All Bands</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="RangDong" name="Brand" value="RangDong">
                                <label for="RangDong">Rang Dong</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Philips" name="Brand" value="Philips">
                                <label for="Philips">Philips</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Panasonic" name="Brand" value="Panasonic">
                                <label for="Panasonic">Panasonic</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Comet" name="Brand" value="Comet">
                                <label for="Comet">Comet</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Paragon" name="Brand" value="Paragon">
                                <label for="Paragon">Paragon</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Duhal" name="Brand" value="Duhal">
                                <label for="Duhal">Duhal</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Anfaco" name="Brand" value="Anfaco">
                                <label for="Anfaco">Anfaco</label>
                            </li>
                        </ul>
                    </div>
                    <div class="Classify_Conten">
                        <div class="Classify_Conten-Header">
                            <h6>Category</h6>
                        </div>
                        <ul id="Class" class="Classify_Conten-List">
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="AllClass" name="Category" value="">
                                <label for="AllClass">All Type</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Bulbs" name="Category" value="LED Bulbs">
                                <label for="Bulbs">Bulbs</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Tube" name="Category" value="Led Tube">
                                <label for="Tube">Tube</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Decor" name="Category" value="Led Decoration">
                                <label for="Decor">Decor</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Spotlight" name="Category" value="Led Spotlight">
                                <label for="Spotlight">Spotlight</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Outdoor" name="Category" value="Led Outdoor ">
                                <label for="Outdoor">Outdoor</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Panel" name="Category" value="Led Panel ">
                                <label for="Panel">Panel</label>
                            </li>
                            <li class="Classify_Conten-Item">
                                <input type="radio" id="Street" name="Category" value="Led Street">
                                <label for="Street">Street</label>
                            </li>
                        </ul>
                    </div>
                    <div class="Classify_Conten">
                        <div class="Classify_Conten-Header">
                            <h6>Price Range</h6>
                        </div>
                        <ul class="Classify_Conten-List">
                            <li class="Classify_Conten-Item">
                                <input data-filter='Price' type="range" id="Price" name="Price" min="0" max="500" step="10" value="500">
                            </li>
                            <li class="Classify_Conten-Item">
                                <div class="Show_Value">
                                    <p>$0.0</p>
                                    <p>$<span id="Value">500</span>.0</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <button id="ApplyFilter" type="submit" class="ApplyButton btn btn-sm shadow_none">Apply Filter</button>
                    </div>
                </div>
            </form>
            <!-- List Products -->
            <div class="Products offset-lg-2 col-12 col-lg-10">
                <div class="row only-lg">
                    <!-- Header -->
                    <div class="Products_Header max_width-Products_Header col-12">
                        <div class="Products_Header-FilterIcon col-lg-hide">
                            <i class="fas fa-filter fa-lg"></i>
                        </div>
                        <div class="Products_Header-Sorted ">
                            <h5 class="col-hide col-md-show">Sorted:</h5>
                            <ul class="Products_Header-SortedList">
                                <li class="Products_Header-SortedItem">
                                    <select id="Layout">
                                        <option disabled="">Layout</option>
                                        <option value="12">12 Product</option>
                                        <option value="24" selected>24 Product</option>
                                        <option value="48">48 Product</option>
                                    </select>
                                </li>
                                <li class="Products_Header-SortedItem">
                                    <select id="Sort">
                                        <option disabled="">Sorted</option>
                                        <option value="0" selected>Default</option>
                                        <option value="1">Price Ascending</option>
                                        <option value="-1">Price Decrease</option>
                                        <option value="2">Evalute Ascending</option>
                                        <option value="-2">Evalute Decrease</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Conten -->
                    <div class="Products_Content col-12 ">
                        <div id="Products_Base" class="row">
                            @*@foreach (var product in Model)
                            {
                                <div class="Product card col-6 col-sm-4 col-lg-3">
                                    <a href="@Url.Action("Detail", "Products", new {id =product.ID})">

                                        <img class="card-img-top" src="../Img/Product/ data[a]..png">
                                        <h6 class="card-title" title=" @product.Name ">@product.Name</h6>
                                        <div class="Product_Describe">

                                            <p class="card-text"><i> @product.Brand </i></p>
                                            <p class="card-text Ra_Value"> @product.ProductFeature.Evalute <i class="fas fa-star" style="color: #ffc107;"></i></p>
                                            <p class="card-text"><i>@product.Class </i></p>
                                            <p class="card-text Pri_Value">$ @product.Price </p>
                                            <div class="Product_Button">
                                                <div class="AddButton btn btn-outline-primary btn-sm" data-id=" data[a].Id ">Add</div>
                                                <div class="BuyButton btn btn-primary btn-sm">Buy</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }*@
                        </div>
                        <div class="ShowMore_Products">
                            <div id="ShowMore_Products-Button" class="btn btn-danger btn-sm">Show More</div>
                            <div id="Products_Full" class="btn btn-outline-secondary btn-block btn-sm disabled">Was Show All</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Popup btn btn-success">
                <h5>Added to Cart</h5>
            </div>
        </div>
    </div>
</main>
@section BodyScripts {
    <script type="text/javascript" src="~/Scripts/Js/Products.js"></script>
}

